# Backend (API & Worker)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chat_crm?schema=public"
REDIS_HOST="localhost"
REDIS_PORT=6379

# Evolution API
EVOLUTION_API_URL="http://seu-evolution.com"
EVOLUTION_GLOBAL_APIKEY="sua_chave_global"
EVOLUTION_INSTANCE_NAME="crm_instance"

# SeaweedFS S3 Compatível
S3_ENDPOINT="http://localhost:8333"
S3_REGION="us-east-1"
S3_ACCESS_KEY="some_access_key"
S3_SECRET_KEY="some_secret_key"
S3_BUCKET="chat-crm-media"

# JWT Auth
JWT_SECRET="super_secret_jwt_key_aqui"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="super_secret_refresh_key_aqui"

# Frontend (Web)
NEXT_PUBLIC_API_URL="http://localhost:3001"
NEXT_PUBLIC_WS_URL="ws://localhost:3001"
